.inputFieldContainer{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
}

.sectionLabel{
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.ruleContainer{
  background-color: #ccc;
  padding: 10px;
  border-radius: 10px;
  margin:10px;
}

.ruleButtonsContainer{
  background-color: #ccc;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ruleButtonsContainer h3{
  padding: 0px 10px;
  width: 70px;
}

.ruleButtonsContainer h4{
  padding: 0px 10px;
  width: 100px;
}

.dropdown{
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.autocomplete-container {
  position: relative;
}

.autocomplete-container input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container{
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions-list {
  position: absolute;
  top: 100%; /* Position right below the input */
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.outputLinetrue{
  display:block
}

.outputLinefalse{
  display:none
}

.setOutputContainer{
  display:flex;
  flex-direction: column;
  padding:10px
}

.output-container{
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
  min-height: 100px;
}

.output-container-label{
  width: 50%;
  margin: 0 auto;
}